body, html {
    height: 100%;
}

body {    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(../assets/backgrounds/space1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.5);
    background-position: center;
}

#cy {
    flex: 1;
    height: 100%; 
}

.node {    
    display: flex !important;
    align-items: center;
    justify-content: center;  
    border-radius: 100%;
    transition: border-radius 250ms ease-in-out;
}

.node.forked {
    border: 5px solid #FFF;
}

.node-dom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF;
    border-radius: 100%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    transition: width 250ms;
}

.node-dom > img {
    width: 64px;
    height: 64px;
}

.node-dom > span {
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    font-size: 14px;
    font-weight: bold;  
}

.node-dom:hover {  
    width: 200px;
    transform: scale(1.5);
}

.node-dom:hover > span {  
    display: block;
}

