body, html {
    height: 100%;
}

body {    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(../assets/backgrounds/space1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.5);
    background-position: center;
}

#cy {
    flex: 1;
    height: 100%; 
}

.node {    
    display: flex !important;
    align-items: center;
    justify-content: center;  
    border-radius: 100%;
    transition: border-radius 250ms ease-in-out;
}

.node.forked {
    border: 5px solid #FFF;
}

.node-dom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    background-color: #FFF;    
    border-radius: 100%;
    border: 3px solid #3f3fe9;
    color: #2f2faf;
    margin: 5px;
    width: 100px;
    height: 100px;
    transition: width 250ms;
}

.node-dom > img {
    width: 48px;
    height: 48px;
}

.node-dom > span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    font-size: 14px;
    font-weight: bold;  
}


